<div class="expense" *ngFor="let issue of is.getExpenses()">
	<mat-accordion multi>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					#{{ issue.eId }}
				</mat-panel-title>
				<mat-panel-description>
					{{ (issue.details.length > 50) ? (issue.details | slice:0:50) + '...' : issue.details }}
					<mat-icon>assignment</mat-icon>
				</mat-panel-description>
			</mat-expansion-panel-header>
			{{ issue.details }}
		</mat-expansion-panel>
	</mat-accordion>
</div>