<h1>Expenses</h1>
<div class="expense" *ngFor="let expense of (is.expenses$ | async)">
	<br>
	<mat-accordion multi>
		<mat-expansion-panel>
			<mat-expansion-panel-header>
				<mat-panel-title>
					#{{ expense.id }}
				</mat-panel-title>
				<mat-panel-description>
					{{ (expense.about.length > 50) ? (expense.about | slice:0:50) + '...' : expense.about }}
				</mat-panel-description>
				<mat-panel-description>
					{{expense.type}}
				</mat-panel-description>
			</mat-expansion-panel-header>
			{{ expense.about }}
		</mat-expansion-panel>
	</mat-accordion>
</div>
<button mat-mini-fab color="accent" class="add-button" (click)="openAddIssueDialog()" matTooltip="Új jegy">
	<mat-icon>add</mat-icon>
</button>