<div class="center">
  <mat-card>
    <mat-card-title>Invite a new member to your family!</mat-card-title>
  <form [formGroup]="inviteForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="invite(inviteForm)" ovalidate>
    <mat-form-field appearance="fill">
      <mat-label>Enter the unique code</mat-label>
      <input matInput placeholder="user's unique code" formControlName="invited_user" required type="invited_user">
      <mat-error>Not a valid code</mat-error>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Send invitation</button>
  </form>
</mat-card>
</div>

