<div class="center">
<h1>Family members <mat-icon *ngIf="isAdmin()" mat-list-icon (click)="deleteFamily()">delete</mat-icon></h1>
<div *ngIf="members.familymember$.value.length !== 0;else elseBlock">
  <div *ngFor="let family of members.family$ | async"><h2>{{family.family_name}}</h2></div>
  <table #thenBlock mat-table [dataSource]="members.familymember$" class="mat-elevation-z8">

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
      </ng-container>
    
      <ng-container matColumnDef="role">
        <th mat-header-cell *matHeaderCellDef> Role </th>
        <td mat-cell *matCellDef="let element"> {{element.role}} </td>
      </ng-container>
    
      <ng-container matColumnDef="operations" *ngIf="isAdmin();else elseBlock">
        <th mat-header-cell *matHeaderCellDef> Operations </th>
        <td mat-cell *matCellDef="let element"> <mat-icon mat-list-icon (click)="deleteFamilyMember(element.user.id)">delete</mat-icon></td>
      </ng-container>

      <ng-template #elseBlock>
        <ng-container matColumnDef="operations">
          <th mat-header-cell *matHeaderCellDef> Operations </th>
          <td mat-cell *matCellDef="let element"> <mat-icon mat-list-icon>-</mat-icon> </td>
        </ng-container>
      </ng-template>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
</div>
<ng-template #elseBlock>
  <form [formGroup]="familyForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="createFamily(familyForm)" ovalidate>
    <mat-form-field appearance="fill">
      <mat-label>Family name</mat-label>
      <input matInput placeholder="family name" formControlName="family_name" required type="family_name">
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary">Create new family</button>
  </form>
  <!--<button role="button" mat-raised-button color="primary" (click)="createFamily()">Create new family</button>-->
</ng-template>

<div *ngIf="invitations.pendingInvitations$.getValue().length !== 0">
  <table #thenBlock mat-table [dataSource]="invitations.pendingInvitations$" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Invitation </th>
      <td mat-cell *matCellDef="let element"> {{element.invitedBy.username}} </td>
    </ng-container>

    <ng-container matColumnDef="accept">
      <th mat-header-cell *matHeaderCellDef> Accept </th>
      <td mat-cell *matCellDef="let element" (click)="acceptInvitation(element.invitedBy.id)"> <mat-icon>check</mat-icon> </td>
    </ng-container>

    <ng-container matColumnDef="decline">
      <th mat-header-cell *matHeaderCellDef> Decline </th>
      <td mat-cell *matCellDef="let element" (click)="declineInvitation(element.invitedBy.id)"> <mat-icon>disabled_by_default</mat-icon> </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns2"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns2;"></tr>
</table>
</div>
</div>