<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar class="changecolor">Registration</mat-toolbar>
        <form [formGroup]="registerForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="register(registerForm)" [ngClass]="{'up': password.value.length > 0}" novalidate>
            <mat-form-field>
                <input
                    matInput
                    type="text"
                    placeholder="Az Ön neve"
                    formControlName="username"
                    required
                    appNameFormat
                >
                <mat-error>Minimum chacracter: 5!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input
                    matInput
                    type="email"
                    placeholder="E-mail címe"
                    formControlName="email"
                    required
                >
                <mat-error>Give a valid email address!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input
                    matInput
                    #password
                    type="password"
                    placeholder="Jelszó"
                    color="primary"
                    formControlName="password"
                    required
                >
                <mat-error>Password need to contain at least 8 characters!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input
                    matInput
                    type="password"
                    placeholder="Jelszó ismétlése"
                    formControlName="passwordConfirm"
                    required>
                <mat-error>Megadott jelszavak nem azonosak!</mat-error>
            </mat-form-field>
            <br>
            <button
                mat-raised-button
                class="changecolor"
            >
                Regisztráció
            </button>
        </form>
    </mat-card>
</div>
