  
<div fxLayoutAlign="center center" fxFlexFill>
    <mat-card fxFlex="25">
        <mat-toolbar class="changecolor">Login</mat-toolbar>
        <form [formGroup]="loginForm" fxLayoutAlign="stretch" fxLayout="column" (ngSubmit)="login(loginForm)" ovalidate>
            <mat-form-field>
                <input
                    matInput
                    type="text"
                    placeholder="username"
                    color="primary"
                    formControlName="username"
                    required
                >
                <mat-error>Required!</mat-error>
            </mat-form-field>
            <br>
            <mat-form-field>
                <input
                    matInput
                    type="password"
                    placeholder="password"
                    color="primary"
                    formControlName="password"
                    required
                >
                <mat-error>Required!</mat-error>
            </mat-form-field>
            <br>
            <button
				mat-raised-button
				class="changecolor"
			>
				Login
            </button>
            <br>
            <button mat-raised-button class="changecolor" routerLink="/register">Registration</button>
        </form>
    </mat-card>
</div>